﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageWeb.master.cs" Inherits="DengueZero.MasterPageWeb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Dengue Zero</title>
    <link href="DengueZero/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="DengueZero/styles/Style.css" rel="stylesheet" />
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body ondragstart="return false;" ondrop="return false;">
    <form id="formMasterPage" runat="server">
    <div>
        <asp:ScriptManager ID="scpManager" runat="server"></asp:ScriptManager>

        <!--Barra de menu-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <asp:ImageButton runat="server" ID="imgMenuInicial" ImageUrl="~/Images/home.png" OnClick="imgMenuInicial_Click" Height="45px" />
                    <%--<asp:LinkButton class="navbar-brand" runat="server" ID="lnkHome" OnClick="lnkHome_Click" Text="Menu Inicial"></asp:LinkButton>--%>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><asp:LinkButton ID="lnkSairSistema" runat="server" OnClick="lnkSairSistema_Click" Text="Sair"></asp:LinkButton></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- Bootstrap Modal Dialog -->
        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                    <ContentTemplate>
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><asp:Label ID="lblTituloModal" runat="server" Text=""></asp:Label></h4>
                            </div>
                        <div class="modal-body">
                            <asp:Image ID="imgException" Width="60px" Height="60px" runat="server"></asp:Image>
                            <asp:Label ID="lblModalBody" runat="server" Text=""></asp:Label>
                            <div id="divDetalhes" class="espaco-linha-modal">
                                <span id="spnExpandir" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <asp:Label ID="lblTituloDetalhe" runat="server" Text="Mais Detalhes"></asp:Label>
                            </div>
                            <div class="janela-modal" hidden="hidden">
                                <asp:Label ID="lblDetalhesException" runat="server"></asp:Label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Ok</button>
                        </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
        </div>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>