﻿.opcoesTopo, #buscatopo{display: inline-block; margin-left: 40px; padding: 5px; }
.txtMenu{color: #BEBEBE;}
.icoTopo{color: white; padding: 4px;}
#barraSub{background-color: white }
#txtSubMenu{text-align: center;}
#iptBusca{background-color: #BEBEBE;  border-radius: 7px; width: 220px; }
#rodape{background-color: black;}
.iptCadastroUsuario{border-radius: 7px; width: 350px;}
.botaoCadastro{margin-left: 18px; padding: 3px;}
#frmCadastroUsuario{border: 1px solid ;border-color:#BEBEBE; padding: 7px; margin-bottom:135px;}